<app-table
  [data]="data"
  [loading]="loading"
  (openModal)="showDialog = true"
></app-table>

<p-dialog
  [(visible)]="showDialog"
  [modal]="true"
  [maximizable]="true"
  header="Нова поставка"
  [style]="{width: '50vw'}"
  [breakpoints]="{'960px': '75vw', '640px': '97vw'}"
>
  <form class="grid p-fluid" [formGroup]="newDeliverForm" (ngSubmit)="addDeliver()">
    <div class="field col-12">
      <p-listbox
        [filter]="true"
        [options]="medicineList"
        formControlName="medicine"
        optionLabel="label"
        optionValue="id"
        [listStyle]="{'max-height': '35vh'}"
      ></p-listbox>
    </div>

    <div class="field col-12 md:col-6">
      <label for="supply_date">Дата поставки</label>
      <input
        type="date"
        pInputText
        class="w-full"
        id="supply_date"
        formControlName="supply_date"
      />
    </div>

    <div class="field col-12 md:col-6">
      <label for="source">Джерело поставки</label>
      <p-dropdown
        inputId="source"
        [options]="store.sources"
        formControlName="source"
        class="w-full"
      ></p-dropdown>
    </div>

    <div class="field col-12">
      <label for="quantity" >Кількість</label>
      <input
        id="quantity"
        type="number"
        pInputText
        formControlName="quantity"
        class="w-full"
      />
    </div>

    <div class="field col-12">
      <label for="comment">Коментар</label>
      <textarea
        id="comment"
        [rows]="5"
        [cols]="30"
        pInputTextarea
        formControlName="comment"
      ></textarea>
    </div>

    <div class="col-12">
      <button
        [disabled]="!newDeliverForm.valid || loading"
        pButton
        pRipple
        type="submit"
        label="Зберегти"
        class="p-button-success"
      >
        <p-progressSpinner
          *ngIf="loading"
          strokeWidth="5"
          animationDuration="3s"
          class="mr-2"
          [style]="{width: '20px', height: '20px'}"
        ></p-progressSpinner>
      </button>
    </div>
  </form>
</p-dialog>

<p-toast [baseZIndex]="5000" position="bottom-right"></p-toast>
