<app-table
  [data]="data"
  [loading]="loading"
  (openModal)="showDialog = true"
></app-table>

<p-dialog
  [(visible)]="showDialog"
  [modal]="true"
  [maximizable]="true"
  header="Нова поставка"
  [style]="{width: '50vw'}"
  [breakpoints]="{'960px': '75vw', '640px': '97vw'}"
>
  <app-tabs (change)="selectedTab = $event">
    <app-tab tabTitle="Вибрати зі списку" [key]="tabTypes.CHANGE">
      <div class="grid p-fluid">
        <div class="col-12">
          <p-listbox
            optionLabel="label"
            optionValue="id"
            [(ngModel)]="medicineSelect"
            [filter]="true"
            [options]="medicineOptions"
            [listStyle]="{'max-height': '35vh'}"
          ></p-listbox>
        </div>
      </div>
    </app-tab>

    <app-tab tabTitle="Створити новий" [key]="tabTypes.CREATE">
      <form class="grid p-fluid" [formGroup]="medicineForm">
        <div class="col-12">
          <label for="group_name" >Група</label>
          <input
            type="text"
            pInputText
            id="group_name"
            class="w-full"
            formControlName="group_name"
          />
        </div>

        <div class="col-12">
          <label for="name" >Назва</label>
          <input
            type="text"
            pInputText
            id="name"
            class="w-full"
            formControlName="name"
          />
        </div>

        <div class="col-12">
          <label for="dosage" >Одиниця виміру</label>
          <input
            type="text"
            pInputText
            id="dosage"
            class="w-full"
            formControlName="dosage"
          />
        </div>
      </form>
    </app-tab>
  </app-tabs>

  <form class="grid p-fluid" [formGroup]="deliverForm" (ngSubmit)="addDeliver()">
    <div class="col-12 md:col-6">
      <label for="supply_date">Дата поставки</label>
      <input
        type="date"
        pInputText
        class="w-full"
        id="supply_date"
        formControlName="supply_date"
      />
    </div>

    <div class="col-12 md:col-6">
      <label for="source">Джерело поставки</label>
      <p-dropdown
        inputId="source"
        [options]="store.sources"
        formControlName="source"
        class="w-full"
      ></p-dropdown>
    </div>

    <div class="col-12">
      <label for="quantity" >Кількість</label>
      <input
        id="quantity"
        type="number"
        pInputText
        formControlName="quantity"
        class="w-full"
      />
    </div>

    <div class="col-12">
      <label for="comment">Коментар</label>
      <textarea
        id="comment"
        [rows]="5"
        [cols]="30"
        pInputTextarea
        formControlName="comment"
      ></textarea>
    </div>

    <div class="col-12">
      <button
        pButton
        pRipple
        type="submit"
        label="Зберегти"
        class="p-button-success"
        [disabled]="hasDisableBtn"
      >
        <p-progressSpinner
          *ngIf="loading"
          strokeWidth="5"
          animationDuration="3s"
          class="mr-2"
          [style]="{width: '20px', height: '20px'}"
        ></p-progressSpinner>
      </button>
    </div>
  </form>
</p-dialog>

<p-toast [baseZIndex]="5000" position="bottom-right"></p-toast>
